@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, ul, li { margin: 0; padding: 0; }
ul { list-style: none; }
html { scroll-behavior: smooth; }

/* layout PC + 공통 */
body { font-family: "Source Sans Pro", "-apple-system, BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
         "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.toggle { width: 50px; height: 50px; cursor: pointer; background-color: rgba(52, 58, 64, 0.5); border: none; border-radius: 5px; position: fixed; top: 15px; right: 15px; z-index: 9999; }
.toggle:hover { background-color: #212529; }
.toggle span { display: block; width: 14px; height: 2px; background-color: #fff; margin: 3px auto; }
.gnb { height: 100%; position: fixed; z-index: 100; top: 0; left: -400px;  background-color: rgba(0, 0, 0, 0.7); overflow-x: hidden; transition: 1s; }
.gnb a { color: #fff; text-decoration: none; display: block; padding: 15px 150px 15px 15px; width: 100%; }
.gnb a:hover { background-color: rgba(0, 0, 0, 0.2); }
.gnb a:first-child { font-size: 1.2rem; line-height: 50px; padding: 15px 150px 15px 15px; width: 100%; }


#Home { display: block; position: relative; width: 100%; height: auto; margin: 0; background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
     url(../img/bg-masthead.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 100vh; }
#Home .Home_text { position: absolute; top: 50%; left: 50%; z-index: 10; text-align: center; transform: translate(-50%,-50%); width: 100%; padding: 128px 0; }
.Home_text h1 { font-size: 5.5rem; color: #212529; font-weight: 700; margin-bottom: 0.25rem; line-height: 1.2; }
.Home_text h3 { font-size: 25px; margin-bottom: 8px; font-style: italic; font-weight: 700; line-height: 1.2; color: #212529; margin: 20px 0 40px; }
.Home_text a { font-size: 1rem; color: #fff; background-color: #1D809F; display: inline-block; font-weight: 400; line-height: 1.5; border-radius: 0.25rem; box-sizing: border-box; padding: 20px 40px; text-decoration: none; transition: .3s; }
.Home_text a:hover { background-color: rgb(24, 103, 128); }


#About { background-color: #f8f9fa; padding: 120px 0; text-align: center; width: 100%; }
.About_text { padding: 0 24px; margin-right: auto; margin-left: auto; }
#About .About_h2 { margin-bottom: 0.5rem; line-height: 1.5; font-weight: bolder; font-size: 30px; }
#About p { margin-bottom: 60px; }
#About a:nth-child(3) { font-size: 1rem; color: #fff; background-color: #343a40; display: inline-block; font-weight: 400; line-height: 1.5; border-radius: 0.25rem; box-sizing: border-box; padding: 20px 40px; text-decoration: none; transition: .3s; }
#About a:nth-child(3):hover { background-color: #191c1f; }


#Services { background-color: #1D809F; text-align: center; padding: 120px 0; }
.Services_box { margin-left: auto; margin-right: auto; padding: 0 48px; max-width: 1320px; }
.Services_text { line-height: 1.5; }
.Services_text h3{ color: #ecb807; font-weight: 700; font-size: 1rem; text-transform: uppercase; line-height: 1.2; }
.Services_text h2 { color: #fff; font-size: 3rem; margin-bottom: 3rem; font-weight: 700; margin-bottom: 48px; }
.Services_icon { display: flex; flex-wrap: wrap; text-align: center; margin: 0 -24px; }
.Services_icon1, .Services_icon2, .Services_icon3, .Services_icon4 { margin-bottom: 0; width: 25%; box-sizing: border-box; color: #fff; text-align: center; padding: 0 24px; }
.Services_icon1 span, .Services_icon2 span, .Services_icon3 span, .Services_icon4 span { background-color: #fff; color: #1D809F; width: 7rem; height: 7rem; display: block;
    line-height: 7.5rem; font-size: 2.25rem; box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%); border-radius: 50%; margin: 0px 79px 16px 79px; margin-right: auto; margin-left: auto; }
.Services_icon1 h4, .Services_icon2 h4, .Services_icon3 h4, .Services_icon4 h4 { font-weight: bolder; font-size: 1.5rem; margin-bottom: 8px; }
.Services_icon1 p, .Services_icon2 p, .Services_icon3 p, .Services_icon4 p { color: rgba(255, 255, 255, 0.7); margin-bottom: 0; font-weight: 400; font-size: 1rem; }

#Portfolio { padding: 120px 0; box-sizing: border-box;  }
.Portfolid_box { padding: 0 48px; max-width: 1320px; margin-right: auto; margin-left: auto; box-sizing: border-box; width: 100%; }
.Portfolio_text { text-align: center; }
.Portfolio_text h3 { color: #ecb807; font-weight: 700; font-size: 1rem; text-transform: uppercase; line-height: 1.2; }
.Portfolio_text h2 { color: #000; font-size: 3rem; margin-bottom: 3rem; font-weight: 700; margin-bottom: 48px; }
.Portfolio_list { display: flex; flex-wrap: wrap; font-size: 1rem; font-weight: 400; line-height: 1.5; }
.Portfolio_list_box { flex: 0 0 auto; width: 50%; max-width: 100%; }
.Portfolio_item { max-width: none; margin: 0; display: block; position: relative; overflow: hidden; }
.Portfolio_caption { display: flex; width: 100%; height: 100%; background-color: rgba(33, 37, 41, 0.2); position: absolute; top: 0; bottom: 0; z-index: 1; }
.Portfolio_content { transition: 0.25s; opacity: 1; margin-left: 80px; margin-right: 80px; margin-bottom: 80px; color: #fff; margin: auto 2rem 2rem; }
.Portfolio_content h2 { font-size: 0.8rem; text-transform: uppercase; margin-bottom: 8px; margin-top: 0; font-weight: 700; line-height: 1.2; }
.Portfolio_content p { font-weight: 300; font-size: 1.2rem; margin-top: 0; }
.Portfolio_item img { width: 100%; transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out; clip-path: inset(-1px); max-width: 100%; height: auto; vertical-align: middle; transition: .4s; }
.Portfolio_item:hover img { transform: scale(0.9);   }
.Portfolio_item::before { content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(4, 157, 204, 0.7); opacity: 0; transition: .3s; }
.Portfolio_item:hover::before { opacity: 0.7; }


#Contact { height: 30rem; }
#Contact iframe { width: 100%; height: 100%; border: none; }


footer { padding: 80px 0; text-align: center; }
.footer_box { width: 100%; margin-right: auto; margin-left: auto; }
.SNS { margin-bottom: 48px; padding-left: 0; list-style: none; margin-top: 0; }
.SNS_list { display: inline-block; margin-right: 8px; }
.SNS_list:last-child { margin-right: 0; }
.SNS_list a { display: block; text-decoration: none; height: 64px; width: 64px; line-height: 4.3rem; font-size: 1.5rem; background-color: #1D809F;
                transition: background-color 0.15s ease-in-out; box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%); border-radius: 50%; color: #fff; }
.SNS_list a i { font-weight: 400; text-transform: none; line-height: 1; }
footer p { color: #6c757d; margin-bottom: 0; font-size: 0.875em; margin-top: 0; }

.Top { opacity: 1; display: block; position: fixed; right: 15px; bottom: 15px; width: 50px; height: 50px; text-align: center; color: #fff; background: rgba(52, 58, 64, 0.5); 
        line-height: 45px; border-radius: 0.25rem }
.Top:hover { background-color: #212529; }
.Top i { overflow: visible; width: .625em; display: inline-block; font-size: inherit; height: 1em; vertical-align: -.125em; }

@media screen and (max-width: 990px) {
    #Home { min-height: 30rem; background-size: 100% 100%; height: auto; }
    #Home .Home_text { padding: 0; }
    .Home_text h1 { font-size: 4rem; color: #212529; font-weight: 700; margin-bottom: 0.25rem; line-height: 1.2; }
    
    .About_text { max-width: 540px; }
    #About .About_h2 { margin-bottom: 0.5rem; line-height: 1.5; font-weight: bolder; font-size:calc(1.325rem + 0.9vw); }
    #About p { margin-bottom: 48px; font-weight: 300; font-size: 1.25rem;  }

    .Services_box { padding: 0 24px; max-width: 540px; }
    .Services_icon { margin: 0 -12px; }
    .Services_icon1, .Services_icon2, .Services_icon3 { margin-bottom: 48px; width: 100%; padding: 0 12px; }
    .Services_icon4 { margin-bottom: 0; width: 100%; padding: 0 12px; }
    .Services_icon1 span, .Services_icon2 span, .Services_icon3 span, .Services_icon4 span { margin-bottom: 16px; }
    .Services_icon1 h4, .Services_icon2 h4, .Services_icon3 h4, .Services_icon4 h4 { font-weight: 700; font-size: calc(1.275rem + 0.3vw); margin-bottom: 8px; }

    .Portfolid_box { padding: 0 24px; max-width: 540px; box-sizing: border-box; }
    .Portfolio_text h3 { margin-bottom: 0; }
    .Portfolio_text h2 { margin-bottom: 48px; }
    .Portfolio_list_box { flex: 0 0 auto; width: 100%; max-width: 100%; }
    .Portfolio_item { max-width: 530px; margin: auto auto 16px; }
    .Portfolio_content p { margin-bottom: 0; }

    #Contact { height: 750px; }

    .footer_box { padding: 0; max-width: 540px; }
}


@media screen and (max-width: 640px) {
    #Home { padding: 128px 0; background-size: auto 100%; }
    #Home .Home_text { padding: 0; margin-left: auto; margin-right: auto; }
    .Home_text h1 { font-size: 4rem; margin: 0; padding: 0; }
    .Home_text h3 { margin: 0 0 48px 0; font-size: calc(1.3rem + 0.6vw); }
    
    .About_text { max-width: 540px; padding: 0 12px; }
    #About .About_h2 { font-weight: 700; font-size:calc(1.325rem + 0.9vw); }

    .Portfolio_item:hover img { transform: none; }

    .footer_box { padding: 0; }
}